
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <table class="t" width="100%">
        <tr style="text-align: center;">
        <th>
            <a routerLink="/home">Home</a>
        </th>
        <th>
            <a routerLink="/client_info">Client Info</a>
        </th>
        <th>
            <a routerLink="/project_info">Project Info</a>
        </th>
        <th>
          <a routerLink="/tasks_info">Tasks Info</a>
      </th>
        <th>
            <a routerLink="/meeting_info">Meetings Info</a>
        </th>
        <th>
            <a routerLink="/login">Logout</a>
          </th>
    </tr>
    </table> 
    <div class="pg">
        <img src="https://cdn-icons-png.flaticon.com/512/10872/10872136.png" width="300px" height="300px">
    </div>
    <h2>Welcome to Client Management Application</h2>
</body>
</html>