<div class="abc">
 <table class="t" width="100%">
  <tr style="text-align: center;">
  <th>
      <a routerLink="/home">Home</a>
  </th>
  <th>
      <a routerLink="/client_info">Client Info</a>
  </th>
  <th>
      <a routerLink="/project_info">Project Info</a>
  </th>
  <th>
    <a routerLink="/tasks_info">Tasks Info</a>
 </th>
  <th>
      <a routerLink="/meeting_info">Meetings Info</a>
  </th>
  <th>
      <a routerLink="/login">Logout</a>
    </th>
 </tr>
 </table> 
 <!-- app.component.html -->
 <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
  <h1>Add Client</h1>
  <div>
  <label>ID:</label><br/>
  <input type="text" formControlName="id" name="id">
  </div>
  <div>
  <label>Client Name:</label><br/>
  <input type="text" formControlName="clientName" name="clientName">
  </div>
  <div>
  <label>Address: </label><br/>
    <input type="text" formControlName="address" name="address">
  </div>
 <div>
  <label>Email: </label><br/>
    <input type="email" formControlName="email" name="email">
 </div>
 <div>
  <label>Password:</label><br/>
    <input type="password" formControlName="password" name="password">
 </div>

  <button type="submit">Add Client</button>
 </form>
 <!-- /<button type="button" (click)="getClients()">View Client</button> -->
 <div class="bv">
 <table class="nm">
  <tr class="as">
    <th>ID</th>
    <th>Client Name</th>
    <th>Address</th>
    <th>Email</th>
    <th>Operation</th>
  </tr>
  <tr class="re" *ngFor="let client of clients; let i=index">
    <td>{{client.id}}</td>
    <td>{{client.clientName}}</td>
    <td>{{client.address}}</td>
    <td>{{client.email}}</td>
    <td><input class="ab" type="button" value="Detete" (click)="DeleteClient(i,client)"/></td>
  </tr>
 </table>
 </div>
</div>
